@model Tourist_management_System.Models.ViewModels.TouristVM
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <h2 class="display-5">Add New Tourist</h2>
        <form asp-action="Create" asp-controller="Tourist" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="row mb-2">
                        <label asp-for="TouristName" class="col-form-label col-3"></label>
                        <div class="col-6">
                            <input asp-for="TouristName" class="form-control form-control-sm" />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="TouristName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label asp-for="BirthDate" class="col-form-label col-3"></label>
                        <div class="col-6">
                            <input asp-for="BirthDate" class="form-control form-control-sm" type="date" />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label asp-for="Age" class="col-form-label col-3"></label>
                        <div class="col-6">
                            <input asp-for="Age" class="form-control form-control-sm" />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label asp-for="PictureFile" class="col-form-label col-3"></label>
                        <div class="col-6">
                            <input asp-for="PictureFile" class="form-control form-control-sm" type="file" />
                        </div>
                        <div class="col-3">
                            <span asp-validation-for="PictureFile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label asp-for="MaritalStatus" class="col-form-label col-3"></label>
                        <div class="col-6 mt-2">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="MaritalStatus" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Select Spot</h5>
                    <div class="d-flex justify-content-end">
                        <a id="btnPlus" class="btn btn-success"><i class="fa fa-plus"></i></a>
                    </div>
                    <div id="spotContainer">
                        <script>
                            LoadData();
                        </script>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

